*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.cabecalho {
    background-color: #F4EBD2;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 10%;
    border-radius: 50%;
    border: 6px solid #9B4819;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 10px;
    font-size: 16px;
}

.cabecalho-lista-item a{
    text-decoration: none; 
    color: black
}

ul a:hover{
    color: rgb(0, 175, 245);
}

.mat2-imagem{
    width: 35%;
    border-radius: 10%;
}

#home-page{
    background-color:#F4EBD2;
    color:#000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px 0;
}

.home-page-div-conteudo{
    width: 75%;
    font-size: 20px;
    text-align: center;
}

.home-page-titulo{
    text-align: center;
    color: #000000;
    padding: 5px 50px;
    font-size: 30px;
}

.home-page-titulo-2{
    text-align: center;
    color: #9B4819;
    padding: 5px 50px;
    font-size: 30px;
}

#matematica-2{
    background-color:#F4EBD2;
    color:#000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px 0;
}

.matematica-2-div-conteudo{
    width: 45%;
    font-size: 18px;
}


.matematica-2-titulo{
    padding: 25px 0;
    font-size: 30px;
}

#estudante{
    background-color:#F4EBD2;
    color:#000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px 0;
}
.estudante-imagem{
    width: 40%;
}

.estudante-div-conteudo{
    width: 45%;
    font-size: 18px;
}

.estudante-titulo{
    padding: 25px 0;
    font-size: 30px;
}


#equipe-pedagogica{
    padding: 24px 0;
    color: black;
    background-color: #F4EBD2;
    justify-content: center;
    align-items: center;
}

.equipe-titulo{
    padding: 25px 0;
    font-size: 30px;
}
.equipe-pedagogica-imagem{
    width: 50%;
    align-items: flex-start;
}

.equipe-pedagogica-div-conteudo{
    width: 45%;
    font-size: 18px;
}

.equipe-div{
    text-align: center;
    padding: 16px 0;
}

.equipe-titulo{
    padding: 25px 0;
    font-size: 30px;
}

.equipe-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.rodape{
    background-color: #000000;
    text-align: center;
}

.rodape-imagem{
    height: 80px;
    width: 20%;
    padding: 12px 0;
    border-radius: 24px;
   
}